*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{
background:#000;
color:white;
overflow:hidden;
}

/* SPLASH */

#splash{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
align-items:center;
justify-content:center;
z-index:999;
transition:.8s;
}

#splash h1{
letter-spacing:4px;
font-size:28px;
}

.hidden{
opacity:0;
pointer-events:none;
}

/* HEADER */

header{
height:60px;
display:flex;
align-items:center;
justify-content:center;
border-bottom:1px solid #111;
position:relative;
}

.title{
font-weight:bold;
letter-spacing:2px;
}

.avatar{
position:absolute;
right:15px;
width:36px;
height:36px;
border-radius:50%;
background:#222;
}

/* INTRO */

.intro{
text-align:center;
padding:25px 20px 10px 20px;
}

.logo-circle{
width:110px;
height:110px;
border-radius:50%;
margin:auto;
display:flex;
align-items:center;
justify-content:center;
font-size:48px;

background:linear-gradient(145deg,#00ff88,#007a44);
box-shadow:
0 0 25px rgba(0,255,120,.6),
inset 0 0 15px rgba(0,0,0,.8);
}

.intro h2{
margin-top:15px;
letter-spacing:2px;
}

.intro p{
opacity:.7;
font-size:14px;
margin-top:6px;
}

/* CARDS */

.cards{
margin-top:20px;
display:flex;
flex-direction:column;
gap:12px;
}

.card{
background:#111;
padding:16px;
border-radius:14px;
box-shadow:0 6px 14px rgba(0,0,0,.6);
}

/* CAMERA */

main{
position:absolute;
top:280px;
bottom:90px;
width:100%;
overflow:hidden;
}

video{
width:100%;
height:100%;
object-fit:cover;
}

#overlay{
position:absolute;
width:100%;
height:100%;
}

/* CONTROLS */

.controls{
position:absolute;
bottom:0;
width:100%;
padding:15px;
display:flex;
gap:10px;

background:rgba(0,0,0,.85);
backdrop-filter:blur(12px);
}

/* BUTTONS */

.btn{
flex:1;
padding:16px;
border:none;
border-radius:14px;
font-weight:bold;
letter-spacing:1px;
color:white;
transition:.2s;
}

.start{
background:linear-gradient(145deg,#00ff88,#00aa55);
box-shadow:0 0 20px rgba(0,255,120,.5);
}

.stop{
background:linear-gradient(145deg,#ff3b3b,#b80000);
box-shadow:0 0 20px rgba(255,0,0,.4);
}

.btn:active{
transform:scale(.96);
}
